<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>960305777996-kkl0970cnuo4j4rgl7aq5t62np11f4j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960305777996-kkl0970cnuo4j4rgl7aq5t62np11f4j0</string>
	<key>API_KEY</key>
	<string>AIzaSyCzHqlI9ulCvexwcYfBOt_OVZsopaq5qtw</string>
	<key>GCM_SENDER_ID</key>
	<string>960305777996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swift.nui.FireFeed</string>
	<key>PROJECT_ID</key>
	<string>firefeed-c1aae</string>
	<key>STORAGE_BUCKET</key>
	<string>firefeed-c1aae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960305777996:ios:a1db365b544a9b3d</string>
	<key>DATABASE_URL</key>
	<string>https://firefeed-c1aae.firebaseio.com</string>
</dict>
</plist>